html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, 
    Verdana, sans-serif;
    font-size: 1.25rem;
    line-height: 1.2;
    color: #5F7161;
    text-align: center;
}

h1, 
h2 {
    color: #FF8787;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: underline overline dashed #665a66 6px;
    text-underline-offset: 15px;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 2.00rem;
}

h3 {
    font-size: .90rem;
}

h1::before,
h1::after {
    content: "\1F43E ";
}

h2::before,
h2::after {
    content: "\270D ";
}

nav {
    float: right;
    position: sticky;
    top: 0;
    background-color: #95CD41;
    opacity: 90%;
    width: 240px;
}

nav ul {
    padding: 0;
}

nav li {
    font-size: 1.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    list-style-type: none;
    text-transform: uppercase;
}

nav a, 
.assignments a,
footer a {
    text-decoration: none;
    color: #4CACBC;
}

nav a:link,
nav a:visited {
    line-height: 1.5;
}

nav a:hover,
nav a:active {
    text-decoration: underline overline dashed #5F7161;
    text-underline-offset: 6px;
    color: #A25B5B;
}

nav a:hover::before,
nav a:hover::after {
    content: "\1F43E ";
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.ani-text {
    animation: fade-in 5s linear, pulse 3s ease 3s;
}

header,
main {
    text-align: 0 auto;
    line-height: 1.4;
    padding-left: 10%;
    padding-right: 10%;
}

header p {
   font-size: 120%; 
}

.assignments li {
    font-size: 1.3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    list-style-type: none;
  }

.assignments a:link,
.assignments a:visited {
    line-height: 1.6;
}

.assignments a:hover,
.assignments a:active {
    text-decoration: underline overline dashed #5F7161;
    text-underline-offset: 6px;
    color: #A25B5B;
}

.assignments li:hover:before,
.assignments li:hover:after {
    content: "\270D";
}

footer a {
    font-size: 1.0rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

footer a:link,
footer a:visited {
    line-height: 1.4;
}

footer a:hover,
footer:active {
    text-decoration: underline overline dashed #5F7161;
    text-underline-offset: 6px;
    color: #A25B5B
}

footer a:hover::before,
footer a:hover::after {
    content: "\1F4E9";
}

footer {
    line-height: 80%;
    font-weight: 500;
    position: relative;
}

small {
    position: absolute;
    bottom: 30px;
    left: 0;
    padding: 30px 0;
    background-color: #95CD41;
}