/*
font-family: 'Lobster', cursive;
font-family: 'Rock Salt', cursive;
*/

html {
    box-sizing : border-box ;
    font-family: 'Lobster', cursive;
    font-size: 1rem;
    letter-spacing: 2px;
    line-height: 125%;
    color: #8E3200;
}

*,
* ::before,
* ::after {
    box-sizing: inherit;
}

nav {
    background-color: #95CD41;
    text-align: center;
    margin-bottom: 3.5rem;
}

nav li {
    display: inline;
}

nav a {
  padding: 20px;
  display: inline-block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 8px;
}

nav a:hover,
nav a:active {
    text-decoration: underline dashed;
    text-underline-offset: 8px;
    color: #8E3200;
}

nav a:hover::before,
nav a:hover::after {
    content: "\1F35E ";
}

main {
    width: 70%;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Rock Salt', cursive;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-shadow: 4px 6px 4px #ccc;
}

img {
    float: left;
    max-width: 35%;
    margin-left: 10%;
    margin-right: 8%;
    border-radius: 50%;
    box-shadow: 4px 6px 4px #ccc;
    shape-outside: circle(50%);
}

header h2 {
    margin-top: 8%;
    font-size: 1.6rem;
    font-weight: 400;
}

.rate {
    clear: both;
    margin-top: 6%;
    text-align: center;
    font-size: 1.5rem;
}

.emoji::after {
    content: "\1f370";
}

.details,
.ingredients,
.instructions,
.nutrition {
    width: 40%;
    float: left;
}

.details,
.instructions {
    margin-right: 16%;
    margin-left: 2%;
}

blockquote {
    clear: both;
    width: 300px;
    height: 280px;
    padding: 78px 16px 0 20px;
    border-radius: 50%;
    background-color: #95CD41;
    outline: dashed 6px #95CD41;
    outline-offset: 10px;
    font-family: 'Rock Salt', cursive;
    font-size: 1rem;
    margin: 40px auto;
    text-align: center;
    letter-spacing: 2px;   
}

blockquote small {
    text-align: right;
}

footer {
    background-color: #95CD41;
    color: white;
    padding: 2% 0;
    margin-top: 10px;
    text-align: center;
}

footer a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}

footer ul {
    list-style-type: none;
}

.col1,
.col2,
.col3 {
    display: block;
    float: left;
    width: 33%;
}

footer p {
    clear: both;
}

/* media queries go below */

@media (max-width: 360px) {

    html {
        line-height: 125%;
    }

    nav a {
        padding: 5px;
        letter-spacing: normal;
        font-size: .9rem;
    }

    nav ul {
        padding-left: 10px;
    }

    main {
    width: 90%;
    padding-right: 10%;
    }

    h1 {
        font-size: 1.5rem;
        line-height: 120%;
        text-shadow: none;
    }

    h2 {
        font-size: 1.2rem;
    }

    img {
        float: none;
        max-width: 50%;
        margin-left: 20%;
    }

    .rate {
        font-size: 1rem;
    }

    .details,
    .ingredients,
    .instructions,
    .nutrition {
        width: 90%;
        float: none;
    }

    blockquote {
        max-width: 95%;
        max-height: 80%;
    }

    .col1,
    .col2,
    .col3 {
        display: block;
        float: none;
        width: 90%;
        text-align: center;
    }

    footer {
        padding-right: 10%;
    }
}

@media (max-width: 810px) {

    html {
        line-height: 125%;
        font-size: 2.8rem;
    }

    main {
        width: 80%;
    }

    h1 {
        font-size: 1.5rem;
        text-shadow: none;
    }

    h2 {
        font-size: 1.2rem;
    }

    img {
        float: none;
        max-width: 50%;
        margin-left: 30%;
    }

    .rate {
        font-size: 1rem;
    }

    .details,
    .ingredients,
    .instructions,
    .nutrition {
        width: 90%;
        float: none;
    }

    blockquote {
        max-width: 95%;
        max-height: 95%;
        font-size: 0.5rem;
        line-height: 95%;
    }

    .col1,
    .col2,
    .col3 {
        font-size: 0.5rem;
        text-align: center;
    }

    footer p {
        padding-right: 10%;
    }
}